<h2>Now, enter the number of people in each grouping that fall into each category</h2>
<form class="whole-data-entry">
  {{#each teams}}
    <fieldset class="outer footroom" name="{{this}}">
      <legend><h3 class="title-case">{{this}}</h3></legend>
      {{#each ../metricsSkeleton}}
        <fieldset name="{{this.name}}">
          <legend class="title-case">{{this.name_display}}:</legend>
          {{#each this.options}}
            <label class="title-case">{{this}}:</label><input name="{{../../this}}.{{../this.name}}.{{this}}"></input>
          {{/each}}
        </fieldset>
      {{/each}}
    </fieldset>
  {{/each}}
</form>
<form class="aux-data-entry">
  {{#each otherGroupings}}
    <fieldset class="outer footroom" name="{{this}}">
      <legend><h3 class="title-case">{{this}}</h3></legend>
      {{#each ../metricsSkeleton}}
        <fieldset name="{{this.name}}">
          <legend class="title-case">{{this.name_display}}:</legend>
          {{#each this.options}}
            <label class="title-case">{{this}}:</label><input name="{{../../this}}.{{../this.name}}.{{this}}"></input>
          {{/each}}
        </fieldset>
      {{/each}}
    </fieldset>
  {{/each}}
</form>

<div><a class="select-graph-data-btn button headroom footroom" href="#">Make My Graph!</a></div>