<form>
  {{#each teams}}
    <fieldset class="outer footroom" name="{{this}}">
      <legend><h3>{{this}}</h3></legend>
      <fieldset name="gender">
        <legend>Gender:</legend>
        <label>Male:</label><input name="{{this}}.gender.male"></input>
        <label>Female:</label><input name="{{this}}.gender.female"></input>
        {{!-- <label>Other</label><input name="{{this}}.gender.other"></input> --}}
      </fieldset>
      <fieldset name="ethnicity">
        <legend>Ethnicity:</legend>
        <label>Caucasian:</label><input name="{{this}}.ethnicity.caucasian"></input>
        <label>African-American:</label><input name="{{this}}.ethnicity.african-american"></input>
        <label>Hispanic:</label><input name="{{this}}.ethnicity.hispanic"></input>
        <label>Asian:</label><input name="{{this}}.ethnicity.asian"></input>
        <label>Other:</label><input name="{{this}}.ethnicity.other"></input>
      </fieldset>
    </fieldset>
  {{/each}}
  {{#each otherGroupings}}
    <fieldset class="outer footroom" name="{{this}}">
      <legend><h3>{{this}}</h3></legend>
      <fieldset name="gender">
        <legend>Gender:</legend>
        <label>Male:</label><input name="{{this}}.gender.male"></input>
        <label>Female:</label><input name="{{this}}.gender.female"></input>
        <label>Other:</label><input name="{{this}}.gender.other"></input>
      </fieldset>
      <fieldset name="ethnicity">
        <legend>Ethnicity:</legend>
        <label>Caucasian:</label><input name="{{this}}.ethnicity.caucasian"></input>
        <label>African-American:</label><input name="{{this}}.ethnicity.african-american"></input>
        <label>Hispanic:</label><input name="{{this}}.ethnicity.hispanic"></input>
        <label>Asian:</label><input name="{{this}}.ethnicity.asian"></input>
        <label>Other:</label><input name="{{this}}.ethnicity.other"></input>
      </fieldset>
    </fieldset>
  {{/each}}
</form>

<div><a class="select-graph-data-btn button headroom footroom" href="#">Make My Graph!</a></div>